<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes da Tarefa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="Nome da tarefa" [(ngModel)]="nome"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="Descrição de tarefa" [(ngModel)]="descricao"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="enviarTarefa()">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
