<ion-header>
  <ion-toolbar>
    <ion-title>form-contato</ion-title>
    <io-buttons slot="start">
      <ion-button color="primary" routerLink="/home" > 
        <ion-icon slot="icon-only" name="arrow-back-outline" ></ion-icon>
      </ion-button>
    </io-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="Nome" [(ngModel)]="nome"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="E-mail" [(ngModel)]="email"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="tel" placeholder="Telefone" [(ngModel)]="telefone"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="enviarContato()">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
