<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Seja Bem Vindo!
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<app-explore-container name="home"></app-explore-container>
    <div >
      <ion-button routerLink="/novo">Novo</ion-button>
    </div>
    <div>
      <ion-button routerLink="/form-contato"> Cadastrar Contato</ion-button>
    </div>
    <div>
      <ion-button routerLink="/contatos"> Lista de Contatos</ion-button>
    </div>-->
    <div id="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            Usuário logado: {{usuario}}
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="sair()">Sair</ion-button>
            </ion-col>
          </ion-row>
      </ion-grid>
    </div>
</ion-content>
